.u-section-1 {
  background-image: url("images/samuel-ferrara-BDsBhMubuYM-unsplash-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 1rem;
  width: 740px;
  margin: 282px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6.875rem;
  width: 740px;
  margin: 0 auto;
}

.u-section-1 .u-social-icons-1 {
  height: 28px;
  min-height: 16px;
  width: 140px;
  min-width: 104px;
  white-space: nowrap;
  margin: 10px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 218px;
  }

  .u-section-1 .u-text-2 {
    font-size: 6rem;
  }

  .u-section-1 .u-social-icons-1 {
    height: 21px;
    width: 119px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 293px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 24px;
    width: 128px;
  }
}